@charset "UTF-8";

.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 400px;
    height: 300px;
    margin: 10px;
}
p {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.main_nav {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #302BD4;
    padding: .3em;
    margin: 0;
    
}

.main_nav a {
    color: white;
    padding: 60px 40px;
    text-decoration: none;
}

.main_nav a:hover {
    background-color: white;
    color: rgb(57, 79, 94)
}

li.logo {
    margin-right: auto;
}
h1 {
    color: white;
    text-align: center;
}
body {
    background-color: #2b7ad4;
}
footer {
    color: white;
}